/* SELECTOR DE CLASE bodyMain */
.bodyMain {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* CENTRAR DE FORMA HORIZONTAL */
    align-items: center;
    /* CENTRAR DE FORMA VERTICAL */
    justify-content: center;
    /* background-image: url(https://res.cloudinary.com/jver2309/image/upload/v1658876394/Retos-de-las-smart-cities_tghpm8.jpg); */
    background-color: black;
    background-position: center;
    /* NO REPITE LA IMAGEN */
    background-repeat: no-repeat;
    /* CUBRE TODO EL ESPACIO DISPONIBLE SIN DEFORMAR */
    background-size: cover;
    /* COMO MINIMO ABARCA EL 100% */
    min-height: 100vh;
    background-size:250%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    gap: 2rem;

}

.header {
    display:flex;
}

.header__image-container {
    display: flex;
    max-width: 256px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0;
}

.header__image {
    width: 100%;
}


.main {
    display: flex;
}

.article {
    display: flex;

}

.article-container {
    display: flex;

    padding: 0 2rem;
}

.article__card {
    background-color: #16181dbf;
    max-width: 256px;
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article__card-title {
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
}

.article__card-keyword {
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

.article__card-description {
    font-size: 0.85rem;
    text-align: center;
    margin: 0;
}

.article__card-description::before {
    content: '|';
}

.article__card-description::after {
    content: '|';
}


.footer {
    display: flex;
}

.footer-nav {
    display: flex;
}

.footer-nav-container {
    display: flex;    
}

.footer-nav__link-list {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav__link-item {
    display: flex;
    /* width: 1.5rem; */
}

/* 1rem <> 16px */
.footer-nav__link {
    display: flex;
    width: 1.5rem;
    transition: all 1s;
}

.footer-nav__link:hover {
    filter: brightness(150%);
    transform: scale(1.5) rotate(360deg);
}

.footer-nav__link-image {
    width: 100%;
    border-radius: 50%;
}
